
@{
    ViewBag.Title = "CreateDialog";
}

<div class="createDialog border">
    @using (Html.BeginForm("CreateDialog", "Dialog", null, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div>
            <p>
                Dialog name
                <input type="text" name="name" class="form-control" style="width: 500px" value="New dialog" id="createDialog-text"/>
            </p>            
        </div>
        <div>
            Is read only?
            <input type="radio" id="createDialog-isReadOnly-true"
                    name="isReadOnly" value="true" class=".radio-inline" checked>
            <label for="createDialog-isReadOnly-true">True</label>
            <input type="radio" id="createDialog-isReadOnly-false"
                    name="isReadOnly" value="false">
            <label for="createDialog-isReadOnly-false">False</label>
        </div>      
        <div>
            @if (ViewBag.Companion != null)
            {
                <input type="hidden" name="companion" value="@ViewBag.Companion" />
            }
        </div>        
        <input type="submit" value="Create" class="btn btn-default" style="margin-top: 15px;" id="createDialog-submit"/>
    }
    <div>
        
    </div>
</div>

<script>    
    $('#createDialog-text').change(function () {
        if ($('#createDialog-text').val() == '') {
            $('#createDialog-submit').prop('disabled', true)
        }
        else {
            $('#createDialog-submit').prop('disabled', false)
        }
    })    
</script>
