@model string

@{
    ViewBag.Title = "ChangePassword";
}

<div class="setting-password">
    @using (Ajax.BeginForm("ChangePassword", "User", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "setting-main" }))
    {
        @Html.AntiForgeryToken()

        <div>
            @if (ViewBag.Result != null && ViewBag.Result == "Success")
            {
                <h3 style="color: forestgreen; margin-left: 20px;">
                    @ViewBag.Result
                </h3>
            }
            else if (ViewBag.Result != null && ViewBag.Result == "Wrong repeated password")
            {
                <h3 style="color: red; margin-left: 20px;">
                    Passwords do not match
                </h3>                
            }
            else
            {
                <h3 style="margin-left: 20px;">Input new password</h3>
            }
        </div>
        <div>
            <div class="setting-password-text">
                <input type="password" name="newPass" value="@Model" class="form-control" style="width: 350px;"/>New password
            </div>
            <div class="setting-password-text">
                <input type="password" name="repeatedPass" value="@Model" class="form-control" style="width: 350px;"/>Repeat password here
            </div>           
            <input type="submit" value="Change" class="btn btn-default" style="margin-bottom: 12px;"/>
        </div>
    }
 </div>