@model IEnumerable<SocialNetwork.PresentationLayer.Models.DialogPreview>

@{
    ViewBag.Title = "DialogPreviews";
}

<input type="hidden" id="hiddenLastPage" value="@ViewBag.LastDialogID" />

<div>
    <div class="dialog-preview-create">
        <img src="~/Content/Icons/blue-plus-sign-hi.png" width="15" height="15" />
        <a href="/User/CreateDialog">Create dialog</a>
    </div>
    <div class="dialog-preview">
            @foreach(var item in Model)
            {
                <div class="dialog-preview-item">
                    <div class="dialog-preview-item-avatar">
                        <img class="avatar-image" src="/User/GetAvatar?ownerID=@item.MasterAvatartID" width="50" height="50" />
                    </div>
                    <div class="dialog-preview-item-open">
                        <input type="button" value="@item.DialogName" id="dialog-preview-item-open-search"
                               onclick="LoadDialog('@Url.Action("Dialog", "User", new { dialogID = item.ID })')"/>
                    </div>
                </div>
            }
    </div>
    <div id="dialog-main">

    </div>
</div>

