@model SocialNetwork.PresentationLayer.Models.SettingViewModel

@{
    ViewBag.Title = "Setting";
}

<div class="setting-options">
    <button onclick="$('#setting-main').load('/User/ChangePersonalInfo');" style="width: 150px;" class="btn btn-primary">Personal info</button>
    <button onclick="$('#setting-main').load('/User/ChangePassword');" style="width: 150px;" class="btn btn-primary">Password</button>
    <button onclick="$('#setting-main').load('/User/ChangeAvatar');" style="width: 150px;" class="btn btn-primary">Avatar</button>
    <button onclick="$('#setting-main').load('/User/ChangePrivacy');" style="width: 150px;" class="btn btn-primary">Privacy</button>
</div>
<div id="setting-main">
    
</div>
