@model SocialNetwork.PresentationLayer.Models.SettingViewModel

@{
    ViewBag.Title = "Setting";
}

<div class="setting-options border">
    <button onclick="$('#setting-main').load('/Setting/ChangePersonalInfo');" style="width: 150px;" class="btn btn-primary">Personal info</button>
    <button onclick="$('#setting-main').load('/Setting/ChangePassword');" style="width: 150px;" class="btn btn-primary">Password</button>
    <button onclick="$('#setting-main').load('/Setting/ChangeAvatar');" style="width: 150px;" class="btn btn-primary">Avatar</button>
    <button onclick="$('#setting-main').load('/Setting/ChangePrivacy');" style="width: 150px;" class="btn btn-primary">Privacy</button>
</div>
<div id="setting-main">
    
</div>
